
jupyter_notebooks/automation/config.py
jupyter_notebooks/file_managment/config.py
jupyter_notebooks/metacritic_scrape_files/config.py
jupyter_notebooks/spotify_client_notbooks/config.py
jupyter_notebooks/spotify_playlist_apps/config.py
apps/config.py
jupyter_notebooks/spotify_client_notebooks/config.py
jupyter_notebooks/spotify_playlist_apps/__pycache__/config.cpython-38.pyc
apps/credentials.json
apps/token.json
apps/credentials/config.py
apps/credentials/credentials.json
apps/credentials/token-1.json
apps/credentials/token.json
data/historical_data/credentials/credentials.json
data/historical_data/credentials/token-1.json
data/historical_data/credentials/config.py
data/historical_data/credentials/token.json
data/historical_data/credentials/__pycache__/config.cpython-38.pyc
data/historical_data/credentials/__pycache__/config.cpython-39.pyc
apps/problems/.DS_Store
apps/problems/data_cleaning/.DS_Store
apps/problems/data_cleaning/scraped_data/.DS_Store
apps/problems/data_cleaning/scraped_data/non_alpha_charaters/#N:A/.DS_Store
apps/problems/data_cleaning/scraped_data/non_alpha_charaters/.DS_Store
apps/problems/data_cleaning/spotify_app/.DS_Store
apps/problems/data_cleaning/spotify_app/album_search/.DS_Store
.DS_Store
apps/.DS_Store
apps/.DS_Store
.DS_Store
